6.WRITE A PYTHON PROGRAM TO PRINT THE TABLE OF ANY NUMBER

In [12]:
def table(n):
    for i in range (1, 11):
        print("%d * %d = %d" % (n, i, n * i))
n=4
table(n)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40