17.Pascal triangle

In [8]:
n = int(input("Enter the number of rows: "))

def binomial_coefficient(n, k):
    if k == 0 or k == n:
        return 1
    return binomial_coefficient(n - 1, k - 1) + binomial_coefficient(n - 1, k)

for i in range(n):
    for j in range(i + 1):
        print(binomial_coefficient(i, j), end=" ")
    print()

Enter the number of rows: 7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

pattern program

In [13]:

for i in range(n):
    for j in range(i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [15]:
word = "Python"
for i in range(len(word) + 1):
    print(word[:i])
print("Python")

P
Py
Pyt
Pyth
Pytho
Python
Python

In [11]:
n = int(input("Enter the number of rows: "))
for i in range(1, n + 1):
    print(" " * (n - i), end="")
    print("* " * i)

Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *