MANIPULATE USING LIST
1.To add new elements to the end of list.

In [3]:
flower_list = ["jasmine","rose"]
print(f'Current Flower List{flower_list}')
new_flower = input("enter a flower name :\n")
flower_list.append("hibiscus")
print(f'updated flower lists{flower_list}')

Current Flower List['jasmine', 'rose']
enter a flower name :
hibiscus
updated flower lists['jasmine', 'rose', 'hibiscus']

2.To reverse elements in list

In [5]:
flower_list = ["jasmine","rose"]
flower_list.reverse()
print(flower_list)

['rose', 'jasmine']

3.To display the same list of elements multiple times

In [6]:
flower_list = ["jasmine","rose"]
repeat_value =3*["jasmine","rose"]
print(repeat_value)

['jasmine', 'rose', 'jasmine', 'rose', 'jasmine', 'rose']

4.To concatenate two list

In [7]:
flower_list = ["jasmine","rose"]
fruit_list  = ["Apple","Mango"]
list = flower_list + fruit_list
print(list)

['jasmine', 'rose', 'Apple', 'Mango']

5.To sort the elements in the list in ascending order.

In [9]:
flower_list = ["rose","jasmine"]
flower_list.sort()
print(flower_list)

['jasmine', 'rose']