In [17]:
import pandas as pd
df=pd.read_csv("titles.csv")
df

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

In [25]:
titles= pd.read_csv('titles.csv')
titles


#import pandas as pd
#titles = pd.read_csv("C:\Users\DELL\Downloads")
#num_movies = titles.shape[0]
#print("number of movies listed:" , num_movies)

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

# what are the earliest two films listed in titles dataframe?

In [3]:
import pandas as pd
df=pd.read_csv("titles.csv")

titles= pd.read_csv('titles.csv')
titles_sorted = titles.sort_values(by='year')
earliest_films = titles_sorted.head(2)
print("The earliest two films listed:")
print(earliest_films)

The earliest two films listed:
                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# how many movies have the title'hamlet'

In [4]:
hamlet = titles[titles['title'] == 'Hamlet']
num_hamlet = len(hamlet)
print("Number of movies with the title 'Hamlet':", num_hamlet)

Number of movies with the title 'Hamlet': 20

# how many movies are titled 'north by northwest'

In [5]:
north_by_northwest = titles[titles['title'] == 'North by Northwest']
num_north_by_northwest = len(north_by_northwest)
print("Number of movies with the title 'North by Northwest':", num_north_by_northwest)

Number of movies with the title 'North by Northwest': 1

# when was the first movie titled hamlet made

In [6]:
hamlet = titles[titles['title'] == 'Hamlet']
hamlet_sorted = hamlet.sort_values(by='year')
first_hamlet = hamlet_sorted.iloc[0]
release_year = first_hamlet['year']
print("The first movie titled 'Hamlet' was made in the year:", release_year)

The first movie titled 'Hamlet' was made in the year: 1910

# list all of the treasure island from the earliest to most recent

In [7]:
treasure_island = titles[titles['title'] == 'Treasure Island']
treasure_island_sorted = treasure_island.sort_values(by='year')
print("List of 'Treasure Island' movies from earliest to most recent:")
print(treasure_island_sorted)

List of 'Treasure Island' movies from earliest to most recent:
                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# how many movies were made in the year 1950?

In [8]:
movies_1950 = titles[titles['year'] == 1950]
num_movies_1950 = len(movies_1950)
print("Number of movies made in the year 1950:", num_movies_1950)

Number of movies made in the year 1950: 1113

# how many movies were made in the year 1960?

In [9]:
movies_1960 = titles[titles['year'] == 1960]
num_movies_1960 = len(movies_1960)
print("Number of movies made in the year 1960:", num_movies_1960)

Number of movies made in the year 1960: 1549

# how many movies were made from 1950 through 1959?

In [10]:
movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]
num_movies_1950s = len(movies_1950s)
print("Number of movies made from 1950 through 1959:", num_movies_1950s)

Number of movies made from 1950 through 1959: 12934

# in what years has a movie titled 'batman' been released

In [11]:
batman_movies = titles[titles['title'] == 'Batman']
release_years = batman_movies['year'].unique()
print("Years in which movies titled 'Batman' have been released:", release_years)

Years in which movies titled 'Batman' have been released: [1943 1989]

# how many roles were there in movie 'inception'

In [14]:
import pandas as pd
cast = pd.read_csv("cast.csv") 

inception_cast = cast[cast['title'] == 'Inception']
unique_roles = inception_cast['character'].nunique()
print("Number of roles in the movie 'Inception':", unique_roles)

Number of roles in the movie 'Inception': 56

# how many rules in the movie 'inception' are not ranked by an  n value

In [15]:
inception_cast = cast[(cast['title'] == 'Inception') & (cast['n'].isna())]
roles_without_rank = len(inception_cast)
print("Number of roles in the movie 'Inception' not ranked by 'n' value:", roles_without_rank)

Number of roles in the movie 'Inception' not ranked by 'n' value: 27

# but how many roles in the movie 'inception' did receive an 'n' value

In [16]:
inception_cast_with_rank = cast[(cast['title'] == 'Inception') & (cast['n'].isna())]
roles_with_rank = len(inception_cast_with_rank)
print("Number of roles in the movie 'Inception' that received an 'n' value:", roles_with_rank)

Number of roles in the movie 'Inception' that received an 'n' value: 27

# Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [17]:
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & (cast['n'].notna())]
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')
print(north_by_northwest_cast_sorted[['n', 'name']])

            n                  name
871426    1.0            Cary Grant
3518333   2.0       Eva Marie Saint
1457165   3.0           James Mason
3157232   4.0   Jessie Royce Landis
356707    5.0        Leo G. Carroll
3048272   6.0  Josephine Hutchinson
1695173   7.0           Philip Ober
1275337   8.0         Martin Landau
2447081   9.0         Adam Williams
1811387  10.0          Edward Platt
665768   11.0     Robert Ellenstein
2295714  12.0          Les Tremayne
464736   13.0       Philip Coolidge
1508344  14.0         Patrick McVey
206471   15.0          Edward Binns
1384780  16.0             Ken Lynch

# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [18]:
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972) & (cast['n'].notna())]
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')
print(sleuth_1972_cast_sorted[['n', 'name']])

           n                name
1705394  1.0    Laurence Olivier
326773   2.0       Michael Caine
373876   3.0      Alec Cawthorne
1465483  4.0  John (II) Matthews
2724553  5.0  Eve (III) Channing
1448690  6.0        Teddy Martin

# Now display the entire cast, in "n"-order, of the 2007 version of "sleuth"

In [20]:
sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007) & (cast['n'].notna())]
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')
print(sleuth_2007_cast_sorted[['n', 'name']])

           n           name
326774   1.0  Michael Caine
1293634  2.0       Jude Law
1805907  3.0  Harold Pinter

# How many roles were credited in the silent 1921 version of Hamlet?

In [21]:
hamlet_1921_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]
num_roles_1921_hamlet = hamlet_1921_cast['character'].nunique()
print("Number of credited roles in the silent 1921 version of 'Hamlet':", num_roles_1921_hamlet)

Number of credited roles in the silent 1921 version of 'Hamlet': 9

# How many roles were credited in Branagh's 1998 Hamlet?

In [24]:
branagh_hamlet_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1998)]
num_roles_branagh_hamlet = branagh_hamlet_cast['character'].nunique()
print("Number of credited roles in Kenneth Branagh's 1996 version of 'Hamlet':", num_roles_branagh_hamlet)

Number of credited roles in Kenneth Branagh's 1996 version of 'Hamlet': 0

# How many "Hamlet" roles have been Rated in all film credits through history?

In [4]:
import pandas as pd
inception_cast = pd.read_csv('cast.csv')
hamlet_roles = len(inception_cast[(inception_cast['title'] == 'Hamlet') & inception_cast['n'].notna()])
print("Number of 'Hamlet' roles with an 'n' value through history:", hamlet_roles)

Number of 'Hamlet' roles with an 'n' value through history: 249

# How many people have played an "Ophelia"?

In [5]:
ophelia_roles = len(inception_cast[(inception_cast['character'] == 'Ophelia')])
unique_ophelia_actors = len(inception_cast[(inception_cast['character'] == 'Ophelia')]['name'].unique())
print("Number of roles as 'Ophelia':", ophelia_roles)
print("Number of unique actors who played 'Ophelia':", unique_ophelia_actors)

Number of roles as 'Ophelia': 117
Number of unique actors who played 'Ophelia': 115

# How many people have played a role called "The Dude"?

In [7]:
import pandas as pd
cast = pd.read_csv('cast.csv')
dude_roles = cast[cast['character'] == 'The Dude']
num_dude_actors = len(dude_roles['name'].unique())
print("Number of people who have played a role called 'The Dude':", num_dude_actors)

Number of people who have played a role called 'The Dude': 19

# How many people have played a role called "The Stranger"?

In [8]:
stranger_roles = cast[cast['character'] == 'The Stranger']
num_stranger_actors = len(stranger_roles['name'].unique())
print("Number of people who have played a role called 'The Stranger':", num_stranger_actors)

Number of people who have played a role called 'The Stranger': 202

# How many roles has Sidney Poitier played throughout his career?

In [9]:
sidney_poitier_roles = len(cast[cast['name'] == 'Sidney Poitier'])
print("Number of roles Sidney Poitier has played throughout his career:", sidney_poitier_roles)

Number of roles Sidney Poitier has played throughout his career: 43

# How many roles has Judi Dench played?

In [10]:
judi_dench_roles = len(cast[cast['name'] == 'Judi Dench'])
print("Number of roles Judi Dench has played:", judi_dench_roles)

Number of roles Judi Dench has played: 55

# List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [11]:
cary_grant_supporting_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] // 10 == 194)]
supporting_roles_by_year = cary_grant_supporting_1940s.sort_values('year')
print("Supporting roles played by Cary Grant in the 1940s, in order by year:")
print(supporting_roles_by_year[['character', 'year']])

Supporting roles played by Cary Grant in the 1940s, in order by year:
          character  year
871423   Nick Arden  1940
871433  Roger Adams  1941

# List the leading roles that Cary Grant played in the 1940s in order by year.

In [12]:
cary_grant_leading_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] // 10 == 194)]
leading_roles_by_year = cary_grant_leading_1940s.sort_values('year')
print("Leading roles played by Cary Grant in the 1940s, in order by year:")
print(leading_roles_by_year[['character', 'year']])

Leading roles played by Cary Grant in the 1940s, in order by year:
                                   character  year
871448                           Matt Howard  1940
871407                          Walter Burns  1940
871450                    C. K. Dexter Haven  1940
871438                      Johnnie Aysgarth  1941
871452                          Leopold Dilg  1942
871429                 Patrick 'Pat' O'Toole  1942
871398                         Capt. Cassidy  1943
871422  Joe Adams -posing as Joe Bascopolous  1943
871430                           Jerry Flynn  1944
871390                     Mortimer Brewster  1944
871425                            Ernie Mott  1944
871424                           Cole Porter  1946
871427                                Devlin  1946
871444                           Dick Nugent  1947
871445                                Dudley  1947
871421                         Jim Blandings  1948
871402                     Dr. Madison Brown  1948
871411                 Captain Henri Rochard  1949

# How many roles were available for actors in the 1950s?

In [13]:
roles_1950s_actors = len(cast[(cast['year'] // 10 == 1950) & (cast['type'] == 'actor')])
print("Number of roles available for actors in the 1950s:", roles_1950s_actors)

Number of roles available for actors in the 1950s: 0

# How many roles were available for actresses in the 1950s?

In [14]:
roles_1950s_actresses = len(cast[(cast['year'] // 10 == 1950) & (cast['type'] == 'actress')])
print("Number of roles available for actresses in the 1950s:", roles_1950s_actresses)

Number of roles available for actresses in the 1950s: 0

# How many leading roles (n=1) were available from the beginning of film history through 1980?

In [15]:
leading_roles_through_1980 = len(cast[(cast['n'] == 1) & (cast['year'] <= 1980)])
print("Number of leading roles (n=1) available through 1980:", leading_roles_through_1980)

Number of leading roles (n=1) available through 1980: 65140

# How many non-leading roles were available from the beginning of film history through 1980?

In [16]:
non_leading_roles_through_1980 = len(cast[(cast['n'] != 1) & (cast['year'] <= 1980)])
print("Number of non-leading roles available through 1980:", non_leading_roles_through_1980)

Number of non-leading roles available through 1980: 1117667

# How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [17]:
roles_without_n_rank_through_1980 = len(cast[(cast['n'].isna()) & (cast['year'] <= 1980)])
print("Number of roles through 1980 without a numeric 'n' rank:", roles_without_n_rank_through_1980)

Number of roles through 1980 without a numeric 'n' rank: 448347