# IMPLEMENT INVENTORY MANAGEMENT IN PYTHON WITH MYSQL

In [1]:
import mysql.connector
conn = mysql.connector.connect(  # Your MySQL host
    user="root",  # Your MySQL username
    password="Kavi#2575991@X",  # Your MySQL password
    database="mla"
)
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D81DC97D90>

In [20]:
curs=conn.cursor()

In [21]:
curs

In [14]:
#Create the Purchases table
curs=conn.cursor()
curs.execute="""
          create table purchases (
        purchase_id INT AUTO_INCREMENT PRIMARY KEY,
        product_name VARCHAR(255),
        quantity INT,
        purchase_date DATE
   )
"""

In [12]:
import mysql.connector
conn = mysql.connector.connect(  # Your MySQL host
    user="root",  # Your MySQL username
    password="Kavi#2575991@X",  # Your MySQL password
    database="mla"
)
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001EF06FDD1D0>

In [1]:
#curs =conn.cursor()
#curs.execute=('show databases')
#r=curs.fetchall()
#for i in r:
   # print(i)

In [8]:
# Create the Sales table
import mysql.connector
conn = mysql.connector.connect(  # Your MySQL host
    user="root",  # Your MySQL username
    password="Kavi#2575991@X",  # Your MySQL password
    database="mla"
)
print(conn)

curs=conn.cursor()
curs.execute("""
    CREATE TABLE IF NOT EXISTS Sales (
        id INT AUTO_INCREMENT PRIMARY KEY,
        product_name VARCHAR(255),
        quantity INT,
        sale_date DATE
    )
""")
# Create the Inventory table
curs.execute("""
    CREATE TABLE IF NOT EXISTS Inventory (
        id INT AUTO_INCREMENT PRIMARY KEY,
        product_name VARCHAR(255),
        quantity INT
    )
""")
# Insert sample data into Purchases, Sales, and Inventory tables
curs.execute("""
    INSERT INTO Purchases (product_name, quantity, purchase_date)
    VALUES (%s, %s, %s)
""", ("Product A", 100, "2023-09-15"))

curs.execute("""
    INSERT INTO Sales (product_name, quantity, sale_date)
    VALUES (%s, %s, %s)
""", ("Product A", 50, "2023-09-16"))

# Update the Inventory table based on purchases and sales
curs.execute("""
    UPDATE Inventory
    SET quantity = quantity + (SELECT SUM(quantity) FROM Purchases WHERE product_name = 'Product A')
    - (SELECT SUM(quantity) FROM Sales WHERE product_name = 'Product A')
    WHERE product_name = 'Product A'
""")

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020AB8375AD0>

In [9]:
#curs =conn.cursor()
curs.execute=('show databases')
r=curs.fetchall()
for i in r:
    print(i)

In [11]:
conn.commit()
curs.close()
conn.close()