# YOU ARE DEVELOPING AN EMPLOYEE MANAGEMENT SYSTEM FOR A COMPANY.THE DATABASE SHOULD STORE EMPLOYEE INFORMATION,INCLUDING NAME SALARY,DEPARTMENT AND HIRE DATE.

In [7]:
import mysql.connector
conn = mysql.connector.connect( 
    user="root", 
    password="Kavi#2575991@X", 
    host = '127.0.0.1',
    database="employeemanagementsystem"
)
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000211F0C4BF90>

In [8]:
curs=conn.cursor()

In [9]:
curs

In [10]:
employee_table='''
create table employee_table(
             name varchar(100),
             salary float,
             dep varchar(100),
             hiredate DATE
             )
'''
curs.execute(employee_table)

In [11]:
curs=conn.cursor()
curs.execute("show databases")
for i in curs:
    print(i)

('book_data',)
('ecommercecompany',)
('employee_details',)
('employeemanagementsystem',)
('information_schema',)
('location_kadamalai',)
('market',)
('mla',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [12]:
curs.execute("show tables")
for i in curs:
    print(i)

('employee_table',)

In [14]:
employee_table_insert="insert into employeemanagementsystem.employee_table(name,salary,dep,hiredate) values (%s,%s,%s,%s)"
employee_table_val=("john","10000","developer","12.12.2014")
curs.execute=(employee_table_insert,employee_table_val)
conn.commit()
print(curs.rowcount,'is inserted now')

1 is inserted now

In [15]:
curs.execute=("select * from employeemanagementsystem.empolyee_table")
result=curs.fetchall()
for i in result:
    print(i)