# Customer Order Processing Scenario: You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and order details.

In [59]:
import mysql.connector
conn = mysql.connector.connect( 
    user="root", 
    password="Kavi#2575991@X", 
    host = '127.0.0.1',
    database="ecommercecompany"
)
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001EEB8628250>

In [5]:
curs=conn.cursor()

In [6]:
curs

In [9]:
customer_table='''
create table customer_table(
             customer_id int primary key,
             name varchar(100)
             )
'''
curs.execute(customer_table)

In [10]:
product_table='''
create table product_table(
              product_id int primary key,
              name varchar(100)
          )
'''
curs.execute(product_table)

In [11]:
order_table='''
create table order_table(
       order_id int primary key,
       customer_id int)
'''
curs.execute(order_table)

In [12]:
orderdetails_tabe='''
create table orderdetails_table(
             order_detail_id int primary key,
             order_id int)
'''
curs.execute(orderdetails_tabe)

In [13]:
import mysql.connector
conn = mysql.connector.connect( 
    user="root", 
    password="Kavi#2575991@X", 
    database="ecommercecompany"
)
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001EEB6C83050>

In [43]:
curs=conn.cursor()
curs.execute("show databases")
for i in curs:
    print(i)

('book_data',)
('ecommercecompany',)
('employee_details',)
('information_schema',)
('location_kadamalai',)
('market',)
('mla',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [19]:
curs.execute("create table customer_table(customer_id int primary key,name varchar(100))")

ProgrammingError: 1050 (42S01): Table 'customer_table' already exists

In [20]:
curs.execute("show tables")
for i in curs:
    print(i)

('customer_table',)
('order_table',)
('orderdetails_table',)
('product_table',)

In [42]:
customer_table_insert="insert into ecommercecompany.customer_table(customer_id,name) values (%d,%s)"
customer_table_val=(2,"john")
#product_table_insert="insert into product_table(product_id,name)values(%d,%s)"
#product_table_val=[('001','soap'),('002','shampoo')]
#order_table_insert="insert into order_table(order_id,customer_id)values(%d,%d)"
#order_table_val=[('201','01'),('202','02')]
#orderdetails_tabe_insert="insert into orderdetails_tabe(order_detail_id,order_id )values(%d,%d)"
#orderdetails_tabe_val=[('301','201'),('302','202')]
curs.execute=(customer_table_insert,customer_table_val)
#curs.executemany(product_table_insert,product_table_val,order_table_insert,order_table_val,orderdetails_tabe_insert,orderdetails_tabe_val)
conn.commit()
print(curs.rowcount,'is inserted now')

-1 is inserted now

In [38]:
curs.execute=("select * from ecommercecompany.customer_table")
result=curs.fetchall()
for i in result:
    print(i)

In [45]:
curs=conn.cursor()
curs.execute("show tables")
for i in curs:
    print(i)

('customer_table',)
('order_table',)
('orderdetails_table',)
('product_table',)

In [46]:
curs.execute ("select * from ecommercecompany.customer_table")
result=curs.fetchall()
for i in result:
    print(i)

(1, 'Sanashree')

In [128]:
customer_table_insert = "insert into ecommercecompany.customer_table(customer_id, name) values (%s, %s)"
customer_table_val = ("2","john")
#product_table_insert="insert into product_table(product_id,name)values(%d,%s)"
#product_table_val=[('001','soap'),('002','shampoo')]
#order_table_insert="insert into order_table(order_id,customer_id)values(%d,%d)"
#order_table_val=[('201','01'),('202','02')]
#orderdetails_tabe_insert="insert into orderdetails_tabe(order_detail_id,order_id )values(%d,%d)"
#orderdetails_tabe_val=[('301','201'),('302','202')]
curs.execute=(customer_table_insert,customer_table_val)
#curs.executemany(product_table_insert,product_table_val,order_table_insert,order_table_val,orderdetails_tabe_insert,orderdetails_tabe_val)
conn.commit()
print(curs.rowcount,'is inserted now')

InternalError: Unread result found

In [129]:
curs.execute = ("select * from ecommercecompany.customer_table")
result = curs.fetchall()
for j in result:
    print(j)

(1, 'Sanashree')
(2, 'john')
(3, 'Peter')
(4, 'Peter')
(5, 'JohnP')
(6, 'Peter power')
(7, 'John Power')

In [101]:
curs=conn.cursor()
curs.execute("show tables")
for i in curs:
    print(i)

('customer_table',)
('order_table',)
('orderdetails_table',)
('product_table',)

In [102]:
#curs=conn.cursor()
curs.execute ("select * from ecommercecompany.customer_table")
result=curs.fetchall()
for i in result:
    print(i)

In [126]:
curs=conn.cursor()
customer_table_insert = "insert into ecommercecompany.customer_table(customer_id, name) values (%s, %s)"
customer_table_val = [("6","Peter power"),("7","John Power")]
#product_table_insert="insert into ecommercecompany.product_table(product_id,name)values(%s,%s)"
#product_table_val = [("001","soap"),('002',"shampoo")]
#order_table_insert="insert into ecommercecompany.order_table(order_id,customer_id)values(%s,%s)"
#order_table_val=[("201","01"),("202","02")]
#orderdetails_tabe_insert="insert into ecommercecompany.orderdetails_tabe(order_detail_id,order_id )values(%s,%s)"
#orderdetails_tabe_val=[("301","201"),("302","202")]
curs.executemany(customer_table_insert,customer_table_val)
#curs.executemany(product_table_insert,product_table_val)
#curs.executemany(order_table_insert,order_table_val)
#curs.executemany(orderdetails_tabe_insert,orderdetails_tabe_val)
conn.commit()
print(curs.rowcount,'is inserted now')

InternalError: Unread result found

In [127]:
#curs=conn.cursor()
curs.execute ("select * from ecommercecompany.customer_table")
#curs.execute ("select * from ecommercecompany.product_table")
#curs.execute ("select * from ecommercecompany.order_table")
#curs.execute ("select * from ecommercecompany.orderdetails_table")
result = curs.fetchall()
for i in result:
    print(i)

InternalError: Unread result found