4.WRITE A PYTHON PROGRAM : tuple1=[10,50,20,40,30]

1.To display the elements 10 and 50 from tuple1

In [1]:
tuple1=[10,50,20,40,30]
tuple1[:2]

[10, 50]

2.To display the length of a tuple1

In [2]:
tuple1=[10,50,20,40,30]
len(tuple1)

5

3.To find the minimum element in tuple1

In [23]:
tuple1=[10,50,20,40,30]
mini = tuple1[0]
for i in range(len(tuple1)):
  if tuple1[i] < mini:
    mini = tuple1(i)
  print(mini)

10
10
10
10
10

4.To add all elements in tuple1

In [43]:
tuple1=[10,50,20,40,30]
sum_numbers = 0
    for x in tuple1
        sum_numbers += x
    return sum_numbers
print(tuple1=(10,50,20,40,30))

IndentationError: ignored

5.To display the same tuple1 multiple times

In [37]:
tuple1=[10,50,20,40,30]
repeat_value= 3*tuple1
print(repeat_value)

[10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30]