2.WRITE A PYTHON PROGRAM TO DO IN TUPLES

1.Manipulate using tuples

In [1]:
tup =[1,2,3]
tup

[1, 2, 3]

2, To add new elements to the end of tuple

In [2]:
tup =[1,2,3]
tup.append(4)
print(tup)

[1, 2, 3, 4]

3.To reverse elements in the list

In [3]:
tup =[1,2,3]
tup.reverse()
print(tup)

[3, 2, 1]

4.To display the elements of the same tuple multiple times

In [4]:
tup =[1,2,3]
tup = 3*tup
print(tup)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

5.To concatenate two tuples

In [5]:
tup1 =[1,2,3]
tup2 = [4,5,6]
tup = tup1 + tup2
print(tup)

[1, 2, 3, 4, 5, 6]

6.To sort the elements in ascending order

In [6]:
tup =[6,4,8,2,1,5]
tup.sort()
print(tup)

[1, 2, 4, 5, 6, 8]